.navbar-container {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #666600; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #666600; 
}



.nav-link {
    font-weight: bold;
    transition: color 0.3s ease;
    color: rgb(0, 0, 0);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.nav-link:hover {
    color: #ddd;
}
